nav{
    padding:30px;
    width:90%;
    margin:auto;
}

nav .navComponent{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.menuList ul{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:25px;
    font-size: 23px;
}
.menuList button{
    background-color: #525DED;
    width:200px;
    height:60px;
    color:white;
    font-size: 20px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}


@media(max-width:768px){

}